
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #fff  ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center   ;
}

.cursor{
    height: 80px;
    width: 80px;
    background-color: #fffafa;
    mix-blend-mode: difference;
    border-radius: 50%;
position: absolute;
transition: all linear 0.2s;
}

h1{
    font-size: 10vw;
    font-weight: 900;
}
