
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
        display: flex;
    justify-content: center;
    align-items: center;
}
#main{
   height: 440px;
   width: 300px;
   background-color: bisque;
   border-radius: 10px;
}
#container{
    height: 400px;
    width: 300px;
    background-color: #ffff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }

  #container i  {
    font-size: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: transparent;
    background-image: url(https://minter.io/blog/content/images/2021/08/How-to-use-Colour-Gradients-for-Instagram-Stories-7.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;

    transform: translate(-50% , -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.8s;
  }

  
  #main #footer{
display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #footer i{
    font-family: monospace;
    padding: 10px;
    font-size: 22px;
  }

  #footer h2{
    font-family: monospace;
  }