
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 400px;
    width: 300px;
    background-color: #ffff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #container i  {
    color: rgb(231, 72, 15);
    font-size: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%) scale(0);
    transition: transform ease 0.5s;
  }
