
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    color: #ffff;
}

button{
    padding: 10px 20px ;
    margin: 10px 20px;
    border-radius: 10px;
    font-size: 10px;
}