

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}


button{
       padding: 20px 40px;
       border-radius: 10px;
       background-color: transparent;
       position: relative;
       z-index: 10;
       cursor: pointer;
       color: #fff;
       border: 2px solid #fff;

}
button:active{
    scale: 0.95;
}
button:hover{
    background-color: rgb(134, 134, 134);
}