*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body  {
    height: 100%;
    width:  100%;
    background-color: black;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    height: 200px;
    width: 350px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

button{
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px ;
    margin-left: 90px;
    cursor: pointer;
    background-color: cadetblue;

}

button:active{
    transform: scale(0.95);
}