

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    color: aliceblue;
}

body{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 157, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 450px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
#storiyan{
    padding: 15px;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid rgb(255, 0, 0);
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block ;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}